@import url("https://artsyui.netlify.app/src/artsyUI.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&family=Nunito:wght@300;400;500;600&display=swap");

:root {
  --user-dropdown-index: 2;
  --light-black: rgba(0, 0, 0, 0.36);
  --light-white: rgba(255, 255, 255, 0.36);
  --header-text: rgba(250, 250, 250);
}
.body {
  color: var(--primary-text);
  background: var(--light-text);
}
.body.dark-theme {
  --light-text: rgb(20, 20, 20);
  --light-bg: #202124;
  --primary-text: rgb(255, 255, 255);
  --light-black: rgba(255, 255, 255, 0.36);
  --light-white: rgba(0, 0, 0, 0.36);
}

@media screen and (max-width: 300px) {
  html {
    font-size: 30%;
  }
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* scroll bar styling */
.main::-webkit-scrollbar {
  width: 1rem;
  padding: 1rem;
}
.main::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 1rem;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artsy-input input {
  background: transparent;
  border-color: var(--primary-text);
  color: var(--primary-text);
}
.artsy-input input {
  background: transparent;
  border-color: var(--primary-text);
  color: var(--primary-text);
}
